@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start: 220 20% 97%;
  --background-end: 220 16% 92%;
  --foreground: 220 20% 10%;
  --accent-1: 340 82% 52%;
  --accent-2: 160 84% 39%;
}

.dark {
  --background-start: 240 30% 10%;
  --background-end: 240 23% 19%;
  --foreground: 0 0% 100%;
  --accent-1: 326 100% 74%;
  --accent-2: 150 100% 50%;
}

body {
  color: hsl(var(--foreground));
  background: linear-gradient(to bottom right, hsl(var(--background-start)), hsl(var(--background-end)));
}

/* Prism.js customization */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6c7a89;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
  color: hsl(var(--accent-1));
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: hsl(var(--accent-2));
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.function {
  color: hsl(var(--accent-1));
}

.token.keyword {
  color: #66d9ef;
}
/* Tailwind Custom Classes */
.input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  background-color: #f9f9f9;
}

.input:focus {
  outline: none;
  border-color: #4C3DFF;
}

.btn-submit {
  
  color: white;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.btn-submit:hover {
  background-color: #5be96e;
  color: #000;
}

.success-message {
  background-color: #55bd59;
  color: white;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  animation: gradient-x 15s ease infinite;
  background-size: 400% 400%;
}